<!DOCTYPE html>
<html>
    <head>
        <style>
        .content {
            padding: 50px 70px 75px 80px;
            }
        </style>
    </head>

    <body>
        <div class="container content">
            <form method="post" action="/tasks/<%=@task.id %>">
              <input id="hidden" type="hidden" name="_method" value="PATCH">

              <h4>Edit Task Name:</h4>
              <input type="text" name="task[name]" value="<%=@task.name%>"><br><br>

              <label> Where should this task go? </label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="list_id">
                  <% current_user.lists.each do |list| %>
                    <option value=<%=list.id %><%= "selected" if list.id==@task.list.id %>><%= list.name %></option>
                  <% end %>
                </select>
                <br>

                <input type="submit" class="btn btn-outline-dark" value="Update task">
            </form>
              <br>

            <form method="post" action="/tasks/<%=@task.id%>">
              <input id="hidden" type="hidden" name="_method" value="delete">
              <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete">
            <form>

        </div>
    </body>
</html>
