<% if flash[:error] %>
    <p class="error" 
        style="background-color: #F8F8FF; 
        font-weight: bold;
        padding: 20px;
        max-width: 600px;">
        <%= flash[:error] %> 
    </p>
<%end%>

<!DOCTYPE html>
<html>
    <head>
        <style>
            .content{
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 50px;
            }
            .all_list {
                padding: 20px;
            }
            .individual_list {
                padding: 15px;
            }

            input[type=checkbox]:checked + label.strikethrough{
                text-decoration: line-through;
                font-style: italic;
            }

            .list_name {
                font-weight: 900;
            }
        
        </style>
    </head>

    <body>
        <div class="container content">
            <h2>Good day, <%= @user.username.capitalize %>!</h2><br>
            
                <h4>Your to-day's lists:</h4>
                <a href="/lists/new"><button type="button" class="btn btn-outline-dark btn-sm">Create A New List</button></a>
                    
                <div class="all_list">
                    <ul class="list-unstyled"><% @user.lists.all.each do |list| %>
                        <div class="individual_list">
                            <li>
                                <label class="list_name"><%= list.name %></label>
                                    <a href="/lists/<%=list.id%>/edit"><i class="bi bi-pencil-square"></i></a>
                                    <a href="tasks/new/<%=list.id%>"><i class="bi bi-plus-square"></i></a></h4>
                                    <a href="/lists/<%=list.id%>/delete"><i class="bi bi-trash"></i></a>
                            </li>
                            

                            <ul class="list-unstyled">
                                <%list.tasks.each do |task| %>
                                    <li>
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        <label class="strikethrough"><%= task.name %></label>
                                            <a href="/tasks/<%= task.id %>/edit">Edit</a>
                                            <a href="/tasks/<%= task.id %>/delete">Delete</a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    </ul>
                </div>            
        </div>
    </body>
</html>

