<!DOCTYPE html>
<html>
    <head>
        <style>
            .content{
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 50px;
            }
            .list_item {
                padding: 20px;
            }
            .item {
                padding: 10px;
            }
        
        </style>
    </head>

    <body>
        <div class="container content">
            <h2>Good day, <%= @user.username.capitalize %>! </h2>
            <br>
            
                <h4>Your to-day's lists:</h4>
                <a href="/lists/new"><button type="button" class="btn btn-outline-dark btn-sm">Create A New List</button></a>
                    
                <div class="list_item">
                        <ul><% @user.lists.all.each do |list| %>
                            <div class="item">
                            <li><%= list.name %>
                            <a href="/lists/<%=list.id%>/edit"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a href="/lists/<%=list.id%>/delete"><i class="bi bi-trash"></i> Delete</a>
                            <a href="tasks/new/<%=list.id%>"><i class="bi bi-plus-square"></i> Add Task</a></h4>
                            </li>
                            

                            <ul>
                                <%list.tasks.each do |task| %>
                                    <li>
                                        <input class="form-check-input me-1" value="" aria-label="...">
                                        <%= task.name %>
                                        <a href="/tasks/<%= task.id %>/edit">Edit</a>
                                        <a href="/tasks/<%= task.id %>/delete">Delete</a>
                                    </li>
                                <% end %>
                               
                            </ul>
                            </div>
                        <% end %>
                    </ul>
                </div>
                    
            
        </div>
    </body>
</html>

